<div class="row login-box">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-info">
            <div class="panel-heading">注册新账户</div>
            <div class="panel-body">
                <form action="">
                    <div class="form-group">
                        <label for="">账户：</label>
                        <input type="text" class="form-control" ng-model="userEntity.username" placeholder="输入您的账户"/>
                    </div>
                    <div class="form-group">
                        <label for="">密码：</label>
                        <input type="password" class="form-control" ng-model="userEntity.password" placeholder="输入您的密码"/>
                    </div>
                    <div class="form-group">
                        <label for="">确认密码：</label>
                        <input type="password" class="form-control" ng-model="userEntity.password2" placeholder="再次输入您的密码"/>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn-primary" style="width: 100%;" ng-click="doRegister();">注册</button>
                        </div>
                        <div class="login-tip-box">
                            <span>已有账户？<a href="#/login">登录</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <div class="login-container">
    <div class="login-left"></div>
    <div class="login-split"></div>
    <div class="login-right">
        <fieldset>
            <legend>注册新账户</legend>
            <div>
                <label for="">账户：</label>
                <input type="text" ng-model="userEntity.username" placeholder="输入您的账户" />
            </div>
            <div>
                <label for="">密码：</label>
                <input type="password" ng-model="userEntity.password" placeholder="输入您的密码" />
            </div>
            <div>
                <label for="">确认密码：</label>
                <input type="password" ng-model="userEntity.password2"  placeholder="输入您的密码" />
            </div>
            <div>
                <button ng-click="doRegister();">注册</button>
                <span>已有账户？<a href="#/login">登录</a></span>
            </div>
        </fieldset>
    </div>
</div> -->